main{
  color: #1b1b1b;
  height: calc(100vh - 133px);
  flex-direction: column;
  font-size: 30px;
/* height:500px !important; */
  line-height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main h6{
  color: white;
}
.light main h6,.light main h6 time{
  color: #1b1b1b !important;

}
